#container{
    width: 800px;
    background-color: rgb(98, 163, 219);
    margin: auto;
    padding: 5%;
    border-radius: 10%;
}
#text{
  
    width: 100px;
    font-size: 20px;
    margin-left: 100px;
    font-style: italic;
  
    background-color: rgb(235, 31, 16);
    color: rgb(243, 243, 247);
}
#header{
    display: flex;
    margin-bottom: 20px;
   
}
#select{
    display: inline;
   /* margin-left: 150px; */
    width: 150px;
}
#text2{
    margin-left: 230px;
    /* border: solid; */
    width: 100px;
    font-size: 20px;
    background-color: rgb(235, 31, 16);
    font-style: italic;
    color: rgb(243, 243, 247);
  

}
#inputs{
    display: grid;
    grid-template-columns:46% 46% ;
    gap: 3%;
    
}
textarea{
    width: 90%;
    /* height: 300px; */
    padding-bottom: 300px;
    text-align: start;
    border-radius: 2%;
    font-size: 20px;
   
   
}
body{
    background-color: bisque;
}
#text3{
    font-style: italic;
    color: rgb(0, 255, 21);
    font-size: 20px;
}
#mic{
    background-color: rgb(13, 240, 25);
}